CI_ENVIRONMENT = production
app.baseURL = ''

database.default.hostname = localhost
database.default.database = e-learning
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.port = 3306

encryption.key = base64: