body,
h1, h2, h3, h4, h5, h6,
p, span, a, input, button, label {
    font-family: 'Poppins', sans-serif !important;
}
.sidebar .sidebar-brand .sidebar-brand-text {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700 !important; /* atau 300 untuk lebih tipis */
}